.grid {
    display: grid;
}

.cards-position{
    margin-left: -250px;
}

.titre-one {
    font-size: 22px;
    color: #0C92BE;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: lighter;
}

.titre-two {
    font-size: 38px;
    line-height: 50px;
}

span {
    color: rgba(13, 202, 240, 1);
}

.container-caracteristiques {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 200px;
    margin-top: 70px; 
}


.container-caracteristiques > div {
    padding: 20px; 
}

.card {
    width: 250px;
    height: 200px; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
    margin-right: 250px;
    transition: height 0.3s ease; 
}



.hidden-content{
    display: none;
    top: 50%;
    left: 50%;
}
.hover-content {
    display: none;
    top: 50%;
    left: 50%;
}

.card:hover .hidden-content {
    display: block;
    top: 50%;
    left: 50%; 
}

.displays-content{
    font-weight: bold;
    justify-content: center;
}

.card:hover .displays-content {
    display: none; 
    top: 50%;
    left: 50%;
}



@media only screen and (max-width: 600px) {
    .grid-cols-2 {
        grid-template-columns: 1fr; 
    }
    .container-caracteristiques {
        flex-direction: column; 
        align-items: stretch; 
    }
    .container-caracteristiques > div {
        padding: 10px;
    }
    .card {
        height: auto; 
        width: 300px;
        margin-left: 500px;
        align-items: center; 
    }
    .text-container {
        margin-bottom: 20px; 
    }
    .container-caracteristiques {
        margin-top: 620px; 
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        display: flex;
        align-items: center; 
        justify-content: center; 
    }
    
    .container-caracteristiques {
        margin: 2px;
        margin-top: 70px; 
    }
    .images-icon{
        top: 50%;
        left: 50%;
    }
}
