
.conatiner-for-astuces{
    margin: 0 auto; /* Centers the container */
    padding-top: 30px;
    max-width: 100%; /* Prevents the container from being too wide */
    padding: 1rem; /* Adds some padding around the content */
}

.astuce-section{
    width: 100%;
}

.titre-two-astuces{
    font-size: 2.5rem; /* 38px */
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.9375rem; /* 15px */
    color: #212529;
}

.text-astuces{
    color: rgb(108, 108, 125);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem; /* 18px */
    margin-top: 0.3125rem; /* 5px */
    margin-bottom: 1.25rem; /* 20px */
}

.btn-astuces{
    font-size: 0.875rem; /* 14px */
    padding: 0.6875rem 1.3125rem; /* Adjusted padding */
    border-radius: 0.5rem; /* 8px */
    background-color: #0dcaf0; /* Updated background color */
    color: #FFF;
    font-weight: 400;
    display: inline-block; /* Ensures proper spacing and alignment */
    text-decoration: none; /* Removes underline from links */
    margin-top: 1.25rem; /* Adds space above the button */
}

.image-for-astuces{
    max-width: 100%; /* Ensures image is not wider than its container */
    height: auto; /* Maintains aspect ratio */
    margin-left: auto; /* Centers the image horizontally */
    margin-right: auto; /* Centers the image horizontally */
}

@media only screen and (max-width: 768px) {
    .conatiner-for-astuces {
        width: auto; /* Allows the container to adapt to the screen size */
        padding: 1rem; /* Adds padding for smaller screens */
    }

    .titre-two-astuces, .text-astuces {
        text-align: center; /* Centers text on smaller screens */
    }

    .image-for-astuces {
        margin-top: 1rem; /* Adds space above the image */
    }
}

@media only screen and (max-width: 600px) {
    .titre-two-astuces {
        font-size: 1.75rem; /* Adjusts font size for smaller screens */
    }
}
