.titre-two-size{
    font-size: 45px;
}



.container-arabe-caracter{
    margin-right: auto;
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 300px;
    margin-top: 4000px; 
    margin-left: 100px;
    margin-bottom: 100px
}

.cards-position{
    margin-left: -250px;
}

.titre-one {
    font-size: 30px;
    color: #0C92BE;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bolder;
}


.titre-two {
    font-size: 38px;
    line-height: 50px;
}

.titre-three{
    color: rgb(108, 117, 125);
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}

span {
    color: rgba(13, 202, 240, 1);
}

.container-caracteristiques-etranger {
    margin-right: auto;
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 300px;
    margin-top: 100px; 
    margin-left: 100px;
    margin-bottom: 100px;
}


.container-caracteristiques > div {
    padding: 20px; 
}

.hidden-content{
    font-size: 50px;
    display: none;
    top: 50%;
    left: 50%;
    color: black;
}

.hover-content {
    display: none;
    top: 50%;
    left: 50%;
}

.cards:hover .hidden-content {
    display: block;
    top: 50%;
    left: 50%; 
}

.displays-content{
    font-weight: bold;
    justify-content: center;
}

.cards:hover .displays-content {
    display: none; 
    top: 50%;
    left: 50%;
}

.cards{
    width: 300px;
    margin-left: 250px;
    height: 300px;
    background-color: rgb(247, 247, 247);
}

.card{
    width: 40px;
}

.cards:hover .hidden-content{
    display: block;
    
}
.color-hidden{
    color:#57bef9
}

.cards:hover .shoen-content{
    display: none;
}

.shoen-content{
    font-size: 25px;
}

.cards:hover{
    height: 450px;
}

.hidden-content{
    display: none;
    font-size : 15px
}

.image-icon{
    width: 47px;
}

.text-container-caracteristiques{
    width: 1500px;
}

.cards-container{
    width: 1300px;
}

.large-screen-carc{
    margin : 0;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 300px;
    margin-top: 100px;
}


.titre-one-size{
    font-size: 60px;
}


@media (max-width: 768px) { 
    .container-caracteristiques {
        flex-direction: column;
    }

    .caracteristique_conatianer{
        display: block;
    }
    .caracteristique_conatianer_auto{
        margin: auto;
    }
    .cards-container-margin{
        margin-right:-34px
    }
    .cards-container-margin-fr{
        margin-left: -16px;
    }

    .text-container{
        width: 500px;
    }

    .cards-position {
        margin-left: 0; 
    }

    .text-container, .cards-container {
        width: auto; 
    }

    .card {
        width: auto; 
    }
    .titre-one{
        font-size: 40px;
    }
    .titre-two-size{
        font-size: 25px;
    }
}

@media (max-width: 480px) { 
    .titre-one, .titre-two, .titre-three {
        font-size: smaller; 
    }

    .titre-one {
        color: #0C92BE;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: bolder;
    }

    .titre-two {
        line-height: 50px;
    }

    .text-container-caracteristiques{
        width: 300px;
    }

    .titre-three{
        color: rgb(108, 117, 125);
        font-family: 'DM Sans', sans-serif;
    }

    .cards {
        width: 100%; 
        margin: 10px 0; 
    }
    .titre-one{
        font-size: 40px;
    }
    .titre-two-size{
        font-size: 25px;
    }
}


@media (max-width: 600px) { 
    .text-container-caracteristiques{
        width: 300px;
    }
    .titre-one{
        font-size: 40px;
    }
    .titre-two-size{
        font-size: 30px;
    }
}

@media (max-width: 1200px) { 
    .text-container-caracteristiques{
        width: 300px;
    }
    .titre-one{
        font-size: 40px;
    }
    .titre-two-size{
        font-size: 30px;
    }
}

/* @media only screen and (max-width: 600px) {
    .container-caracteristiques {
        margin:auto; 
        display: block;
        align-items: center; 
        justify-content: center; 
    }
  
    .container-caracteristiques > div:not(.text-container) {
      width: auto; 
      padding: 10px;
    }
  
    .cards {
      width: 300px; 
      margin-left: 0;
      margin-bottom: 20px; 
      height: auto; 
    }
  
    .cards-position {
      margin-left: auto; 
      margin-right: auto;
    }
  
    .titre-one {
      font-size: 18px;
    }
  
    .titre-two {
      font-size: 24px; 
      line-height: 32px; 
    }
  
    .image-icon {
      width: 40px; 
    }
  
    .hidden-content,
    .shoen-content {
      font-size: 14px; 
    }
    .cards-position {
        display: block; 
        width: 320px;
        margin-left: -120px;
    }
    .text-container{
        margin-left: -120px;
        width: 350px;
    }
  } */
  
