.logo-footer{
    width: 284px;
}

.footer-container{
    background-color: #081F5D;
    color: #ffffff;
    height: 400px;
}

.text-desc{
    width: 400px;
    margin-top: 40px;
    max-width: 350px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif !important;
}

.content-container{
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
}

li{
    margin-top: 20px;
}

.titres-footer{
    font-size: 20px;
    line-height: 36px;
}

.contacter{
    margin-left: 150px;
}

.contacter-ar{
}


.liens-footer{
    margin-left: 150px;
}
.liens-footer-ar{
    margin-right: 150px;
}

.top-footer{
    background-color: #00C1FF;
    margin-left: -25px;
    margin-right: -24px;
    height: 100px;
}
.copyright{
    color: white;
    line-height: 90px;
    font-size: 18px;
    margin-left: 100px;
}

.social-media{
    margin-right: 100px;
}

@media (max-width: 640px) {
    .footer-container {
        padding: 20px; 
        height: auto; 
    }
    .info-container{
        width: 100%;
    }

    .social-media-icons {
        width: 50%; 
        max-width: 100px; 
    }
    .logo-footer{
        width: 200px;
        margin: auto;
    }

    .text-desc, .contacter, .liens-footer,.liens-footer-ar ,.contacter-ar{
        font-size: 15px; 
        margin: 10px 0; 
        width: auto; 
        text-align: center; 
    }
    

    .content-container, .contacter, .liens-footer ,.liens-footer-ar,.contacter-ar{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .liens-footer,.liens-footer-ar{
        margin-top: 80px;
    }

    .top-footer, .social-media {
        text-align: center;
        margin: 10px 0; 
    }

    .grid-cols-2 {
        display: block;
    }

    .copyright {
        display: none;
    }

    .social-media {
        justify-content: center;
        width: 100%; 
    }

    .social-media-icons {
        width: 30px;
    }
    .top-footer{
        background-color: #081F5D;
    }
}