.logo-footer{
    width: 284px;
}

.footer-container{
    background-color: #081F5D;
    color: #ffffff;
    height: 400px;
}

.text-desc{
    width: 400px;
    margin-top: 40px;
    max-width: 350px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif !important;
}

.content-container{
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
}

li{
    margin-top: 20px;
}

.titres-footer{
    font-size: 20px;
    line-height: 36px;
}

.contacter{
    margin-left: 150px;
}

.liens-footer{
    margin-left: 150px;
}

.top-footer{
    background-color: #00C1FF;
    margin-left: -25px;
    margin-right: -24px;
    height: 100px;
}
.copyright{
    color: white;
    line-height: 90px;
    font-size: 18px;
    margin-left: 100px;
}

.social-media{
    margin-right: 100px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 640px) {
    .footer-container {
        padding: 20px; /* Adjust padding for smaller screens */
        height: auto; /* Allow the container to grow as needed */
    }

    .logo-footer, .social-media-icons {
        width: 50%; /* Adjust logo and icon sizes for smaller screens */
        max-width: 100px; /* Ensure they're not too large */
    }

    .text-desc, .contacter, .liens-footer {
        font-size: 15px; /* Adjust font size for readability on small screens */
        margin: 10px 0; /* Improve spacing between elements */
        width: auto; /* Allow text to fit container width */
        text-align: center; /* Center-align text for a cohesive look */
    }

    .content-container, .contacter, .liens-footer {
        margin-left: 0; /* Align content containers to the center */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-footer, .social-media {
        text-align: center;
        margin: 10px 0; /* Adjust top footer and social media spacing */
    }

    .grid-cols-2 {
        display: block; /* Stack grid items vertically on small screens */
    }

    /* Add these new styles */
    .copyright {
        display: none; /* Hide copyright text on smaller screens */
    }

    .social-media {
        justify-content: center; /* Center social media icons */
        width: 100%; /* Ensure the container takes full width for centering */
    }

    .social-media-icons {
        width: 30px; /* Make icons significantly smaller */
    }
    .top-footer{
        background-color: #081F5D;
    }
}