.logo-footer{
    width: 284px;
}

.footer-container{
    background-color: #081F5D;
    color: #ffffff;
    height: 400px;
}

.text-desc{
    width: 400px;
    margin-top: 40px;
    max-width: 350px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif !important;
}

.content-container{
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
}

li{
    margin-top: 20px;
}

.titres-footer{
    font-size: 20px;
    line-height: 36px;
}

.contacter{
    margin-left: 150px;
}

.liens-footer{
    margin-left: 150px;
}

.top-footer{
    background-color: #00C1FF;
    margin-left: -25px;
    margin-right: -24px;
    height: 100px;
}
.copyright{
    color: white;
    line-height: 90px;
    font-size: 18px;
    margin-left: 100px;
}

.social-media{
    margin-right: 100px;
}

@media (max-width: 640px) {
    .grid-cols-2 {
        grid-template-columns: 1fr;
        margin-left: 0; /* Adjusted to remove left margin */
    }
    .footer-container {
        height: 935px; /* Adjusted to allow content to expand vertically */
    }
    .top-footer {
        height: auto; /* Adjusted to allow content to expand vertically */
        text-align: center; /* Center align content */
    }
    .social-media {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }
    .copyright {
        margin-left: 0; /* Adjusted to remove left margin */
        line-height: 1.5; /* Adjusted line height */
    }
    .grid-cols-2,
    .contacter,
    .liens-footer {
        margin-left: 0; /* Adjusted to remove left margin */
    }
    .social-media-icons {
        width: 20px;
    }
}

