.container-statistique {
    background-color: #0C92BE;
    width: 1000px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px 60px 0 0;
}

.prt-statistique{
    margin-top: 20px;
}

.container-statistique img {
    width: 37px;
}

.container-statistique .inner-container {
    margin-top: -10px;
}

.container-statistique .number {
    font-weight: bold;
    font-size: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: -30px;
}

.container-statistique .description {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: -30px;
    margin-top: -10px;
}

.container-statistique .image-container-certificate {
    background-color: #FBDE00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 61px;
}

.container-statistique .image-container-student {
    background-color: #FE8C00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 61px;
}

.container-statistique .image-container-teacher {
    background-color: #FF64B1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 61px;
}

.statistics-content{
    margin-left: 50px;
}

.first{
    margin-top: 20px;
}


@media only screen and (max-width: 600px) {
    .container-statistique {
        height: 380px;
        width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    .statistics-content{
        margin-left: 30px;
    }
    .first{
        margin-top: 35px;
    }
    .container-statistique .number {
        font-weight: bold;
        font-size: 40px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        margin-left: -45px;
    }
    .container-statistique .description {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin-left: -45px;
        margin-top: -10px;
    }
}
